Redirect 301 /en/ https://catamaran-360.com/
Redirect 301 /index.html https://catamaran-360.com/
Redirect 301 /css/globals.css https://catamaran-360.com/
Redirect 301 /placeholder.svg https://catamaran-360.com/
Redirect 301 /Views/Es/· https://catamaran-360.com/
Redirect 301 /Views/Es/index.html https://catamaran-360.com/Views/Es/

# Proteger contra XSS
 Header set X-XSS-Protection "1; mode=block"
# Habilitar HSTS
 Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
# Proteger contra el uso de contenido no seguro
# Header set Content-Security-Policy "default-src 'self'; script-src 'self'; object-src 'none';"
# Evitar que el contenido se muestre en un iframe
# Header set X-Frame-Options "DENY"
# Evitar que el navegador almacene en caché las páginas
 Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"


<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule \.(php|pl|py|jsp|asp|sh|cgi)$ - [F,L]
</IfModule>



# EVITAR LISTADO DE DIRECTORIOS
# Impide que los visitantes vean el contenido de las carpetas que no tienen un archivo index.
Options -Indexes